/* Navbar */
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #4f4f4f;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}


/* Body */
body, html {
    height: 100%;
    font-family: 'Kanit', sans-serif;
  }

.bg-img {
    background-image: url('https://media.discordapp.net/attachments/1126722545048109108/1126724325689544725/1038_1.png?width=956&height=676');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    z-index: -5;
}

.profilePic {
    border-radius: 50%;
    border: 1rem solid white;
    width: 30vh;
  }

.info {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255, 0.8); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 25px;
    text-align: center;
    align-items: center;
}

.pageHeader {
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 6vh;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.social-icon {
    display: block;
    margin: auto;
    
}

.social-icon i{
    margin: 10px;
    border: solid white;
    border-radius: 15%;
    padding: 2.5vh 1.5vh;
    background-color: rgba(255,255,255, 0.4);
}

.info-header h1 {
  text-align:center;
}
.info-header h1:before {
  left:50%; margin-left:-30px;
}

.info-header h1 span {
  font-size: 2vh;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

/* Font CSS */
h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }

/* Header Style */

/* Loader */
#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #21242d url('assets/preloaderCat.gif') no-repeat center center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	z-index: 10000;
}

#loader h1 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #080808;
    font-family: 'Kanit', sans-serif;
}

.info .form-control {
  text-align:center
}

#twitch-embed {
  text-align: center;
}

/* Responsive Twitch */

@media screen and (max-width: 850px) {
  #twitch-embed {
    display: none;
  }
}

/* .info-header h1 {
    font-size:26px; 
    font-weight:700;  
    letter-spacing:1px; 
    text-transform:uppercase; 
    width:160px; 
    text-align:center; 
    margin:auto; 
    white-space:nowrap; 
    padding-bottom:13px;
    color: black;
}

.info-header h1:before {
    background-color: #c50000;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}

.info-header h1:after {
    background-color: #c50000;
    content: '';
    display: block;
    position:absolute; right:0; bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
} */